@page "/"
@inject NavigationManager NavigationManager
<h2 class="d-flex">Home</h2>
<div class="d-flex">
    Welcome to your Dogs.
</div>

<div class="d-flex">

<button type="button" class="btn btn-primary" @onclick="AddPet">Add Pet</button>

</div>

@code {
    private void AddPet()
    {
        NavigationManager.NavigateTo("addpet");
    }
}